<!doctype html>
<title>批量抢券专用WEB</title>
<dd>
<select id='num'>
  <option value ="2">用2个账号抢券</option>
  <option value ="5" selected='selected' >用5个账号抢券</option>
  <option value ="10">用10个账号抢券</option>
  <option value ="50" >用50个账号抢券</option>
  <option value="100">用100个账号抢券</option>
  <option value="300">用300个账号抢券</option>
  <option value="500">用500个账号抢券</option>
  <option value="1000">用1000个账号抢券</option>
</select>
<div id='account_count'>{{count}}</div>
<input type='button' value='抢100元券' onclick='fanpai();' />
<dd>
<div id='fanpai_info'></div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

//fanpai
function fanpai(){
    num = ($('#num').val());
    if(parseInt(num) >=300 && confirm("确定使用" + num + "个账号抢券,中途无法停止!") == false){
        return false;    
    }
	$.ajax({
		type: "POST",
		url: "/fanpai/",
		data: {num:$("#num").val()},
		success: function(msg){
                $('#fanpai_info').text(msg.ok);
                $('#account_count').text(msg.count);
		},
		error:function(){
                $('#fanpai_info').text("出现未知异常,抢券失败!");
			return false;
		},
	});
}

</script>